numpy==1.21.4
pandas==1.5.1
Pillow==9.4.0
torch==1.13.0
torchvision==0.14.0
tqdm==4.62.3
transformers==4.24.0
tensorboard==2.11.0
timm==0.6.12
pytorch-lightning==1.8.3.post1
pydash==6.0.0
scikit-learn==1.2.1
torchinfo==1.7.1